.score-container{
    background-color: rgba(130, 130, 150, 0.44);
    width: 95%;
    height: 15vw;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1%;
}

.score-name-container{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.score-name-container h2{
    font-size: 2.5vw;
    margin-top: 1%;
    font-weight: lighter;
}

.score-name-container h3{
    font-size: 2.5vw;
    margin-top: 1%;
    font-weight: lighter;
    -webkit-text-stroke: 0.1vw rgb(255, 128, 0);
}

.score-points{
    font-size: 5vw !important;
    font-weight: bold !important;
}

.away-points{
    color: #ffa735;
    margin-right: 3vw !important;
}

.home-points{
    color: #ffa735;
    margin-left: 3vw !important;
}
.score-is-finished-label{
    padding-top: 40px;
}