@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Russo+One&family=Schibsted+Grotesk:wght@900&family=Tilt+Prism&display=swap');

.home-background{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    background-image: url("../../assets/image/background2.jpg");
}

.home-menu-container{
    height:43.5vw;
    width: 60vw;
    background-color: rgba(30, 35, 40, 0.78);
    margin: 4% auto;
    z-index: 3;
    border-radius: 1.5vw;
}

.home-page-title{
    color: rgb(255, 106, 0);
    font-family: 'Fugaz One', cursive;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin:0;
}

.home-page-title::before {
    content: "BASKET";
    color: white;
}

.home-page-name-container h2{
    height: 2vw;
    font-size: 1.5vw;
    color: white;
    display: inline-block;
    z-index: 3;
    top: 0;
    margin-left: 0.5vw;
    font-weight: lighter;
}

.home-statistics-container {
    color: white;
    margin-top: 1vw;
    margin-left: 2%;
    height: 30vw;
    width: 96%;
    overflow-y: scroll;
}

.home-page-button{
    background-color: #ff6a00;
    border: none;
    color: white;
    padding: 0.25vw;
    margin-right: 1vw;
    margin-left: 0.5vw;
    display: inline-block;
    font-size: 1.3vw;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-radius: 0.6vw;
    box-shadow: 0px 0.5vw 0.7vw rgba(0, 0, 0, 0.1);
    transition: transform 0.04s;
    min-width: 9.5vw;
}

.matches-select{
    width: 55%;
}

/* Estilo básico de la scrollbar */
::-webkit-scrollbar {
    padding-top: 2vw;
    margin-top: 1vw;
    width: 0.8vw;
    height: 0.8vw;
}

/* Estilo del riel de la scrollbar */
::-webkit-scrollbar-track {
    margin-top: 4.5vw;
    background-color: rgba(241, 241, 241, 0);
    border-radius: 10px;
}

/* Estilo del thumb (agarre) de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: rgba(130, 130, 150, 0.44);
    border-radius: 10px;
}

/* Estilo del thumb de la scrollbar cuando se está hover (sobre él) */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff6a00;
}